<a href="https://colab.research.google.com/github/vladislavGrinkov/Coder/blob/master/pandas4_ipynb%22%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Импортировать модули sys numpy pandas
import numpy as np
import pandas as pd

In [3]:
#Создать объект pandas Series из листа, объекта NumPy, и словаря
src_list = list('abcde')
src_arr = np.arange(5)
src_dict = dict(zip(src_list, src_arr))
 
s1 = pd.Series(src_list)
s2 = pd.Series(src_arr)
s3 = pd.Series(src_dict)
 
print(s1)
print(s2)
print(s3)

0    2
1    4
2    6
dtype: int64

In [4]:
#Преобразовать объект Series в DataFrame
s = pd.Series(np.random.randint(low=1, high=10, size=[35]))
 
# преобразование в reshape
r = (7, 5)
 
if r[0] * r[1] != len(s):
    sys.exit('не возможно применить reshape')
    
df = pd.DataFrame(s.values.reshape(r))
 
print(df)

2    a
1    b
3    c
dtype: object

In [5]:
#создать объект Series

area_dict = {'California': 423967,
             'Texas': 695662,
             'New York': 141297,
             'Florida': 170312,
             'Illinois': 149995}
area = pd.Series(area_dict)
print(area)

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [ ]:
#создать объект Series
area_dict = {'California': 423967,
             'Texas': 695662,
             'New York': 141297,
             'Florida': 170312,
             'Illinois': 149995}
area = pd.Series(area_dict)

population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)

states = pd.DataFrame({'population': population, 'area': area})
print(states)

In [ ]:
#преобразовать в DataFrame
area_dict = {'California': 423967,
             'Texas': 695662,
             'New York': 141297,
             'Florida': 170312,
             'Illinois': 149995}
area = pd.Series(area_dict)

population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)

states = pd.DataFrame({'population': population, 'area': area})
print('Индексы - states.index:')
print(states.index)
print('')
print('Колонки - states.columns:')
print(states.columns)

In [12]:
#объединить несколько объектов Series в Dataframe

area_dict = {'California': 423967,
             'Texas': 695662,
             'New York': 141297,
             'Florida': 170312,
             'Illinois': 149995}
area_dict_next = {
    'Moscow': 21333,
}
area = pd.Series(area_dict)
area1 = pd.Series(area_dict_next)
print(pd.concat([area, area1]))

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Moscow         21333
dtype: int64

In [ ]:
#Присвоить имя индексу объекта Series
 
s = pd.Series({'a': 1, 'b': 2, 'c': 3})
 
s.name = 'my_name'
 
print(s)

In [13]:
#Получить элементы объекта Series A, которых нет в объекте Series B
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([4, 5, 6, 7, 8])
 
# возвращает вместе с индексами
ans = s1[~s1.isin(s2)]
 
# возвразает значения
ans2 = np.setdiff1d(s1, s2, assume_unique=False)
print(ans)

0    1
1    2
2    3
dtype: int64

In [ ]:
#Получить не пересекающиеся элементы в двух объектах Series
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([4, 5, 6, 7, 8])
 
# возвращает вместе с индексами
 
# получаем объединенный Series без повтороений
s_union = pd.Series(np.union1d(s1, s2))
# получаем пересекающиеся данные
s_intersect = pd.Series(np.intersect1d(s1, s2))
# отбираем все данные, кроме пересекающихся
ans = s_union[~s_union.isin(s_intersect)]
 
# возвразает значения
ans2 = np.setxor1d(s1, s2, assume_unique=False)
 
print(ans)