<a href="https://colab.research.google.com/github/vladislavGrinkov/Coder/blob/master/pandas5_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Импортировать модули sys numpy pandas
import numpy as np
import pandas as pd

In [ ]:
#Получить от объекта Series показатели описательной статистики
state = np.random.RandomState(42)
 
s = pd.Series(state.normal(10, 5, 25))
pkz = s.describe()
print(pkz)

In [ ]:
#Узнать частоту уникальных элементов объекта Series (гистограмма)
len_series = 30
data = 'abcdefghik'
s = pd.Series(np.take(list(data), np.random.randint(len(data), size=len_series)))
 
# считаем число вхождений
ans = s.value_counts()
 
print(ans)

b    6
g    4
f    4
c    3
a    3
h    3
i    2
k    2
e    2
d    1
dtype: int64

In [ ]:
#Заменить все элементы объекта Series на "Other", кроме двух наиболее часто встречающихся
state = np.random.RandomState(42)
s = pd.Series(state.randint(low=1, high=5, size=[13]))
print(s.value_counts())
s[~s.isin(s.value_counts().index[:2])] = 'Other'
print(s)

In [ ]:
#Создать объект Series в индексах дата каждый день 2019 года, в значениях случайное значение
dti = pd.date_range(start='2019-01-01', end='2019-12-31', freq='B') 
s = pd.Series(np.random.rand(len(dti)), index=dti)
 
# 1
ans1 = s[s.index.weekday == 2].sum()
print('Сумма всех "вторников"', ans1)
print()
 
# 2
ans2 = s.resample('M').mean()
print('Средние значения по месяцам:\n', ans2)
print()

Сумма всех "вторников" 27.595725803888868

Средние значения по месяцам:
 2019-01-31    0.525134
2019-02-28    0.550885
2019-03-31    0.488903
2019-04-30    0.467739
2019-05-31    0.503045
2019-06-30    0.505280
2019-07-31    0.535306
2019-08-31    0.595143
2019-09-30    0.606525
2019-10-31    0.397311
2019-11-30    0.477477
2019-12-31    0.521860
Freq: M, dtype: float64

In [ ]:
#Преобразовать объект Series в DataFrame заданной формы (shape)
s = pd.Series(np.random.randint(low=1, high=10, size=[35]))
 
# преобразование в reshape
r = (7, 5)
 
if r[0] * r[1] != len(s):
    sys.exit('не возможно применить reshape')
    
df = pd.DataFrame(s.values.reshape(r))
 
print(df)

In [ ]:
#Найти индексы объекта Series кратные 3
s = pd.Series(np.random.randint(low=1, high=10, size=[7]))
 
# вариант 1
ans1 = np.argwhere(s % 3==0).flatten()
print(ans1)
 
# вариант 2
ans2 = s[s % 3 == 0].index
print(ans2)

In [ ]:
#Получить данные по индексам объекта Series
s = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
p = [0, 4, 8, 14, 20, 10]
 
# вариант 1
ans1 = s[p]
print(ans1)
 
# вариант 2 (take - также может использовать многоуровневые массивы)
ans2 = s.take(p)
print(ans2)

In [ ]:
#Объединить два объекта Series вертикально и горизонтально
s1 = pd.Series(range(5))
s2 = pd.Series(list('abcde'))
 
ans_vertical = s1.append(s2)
ans_horizontal = pd.concat([s1, s2], axis=1)
 
print(ans_vertical)
print(ans_horizontal)

In [ ]:
#Получить индексы объекта Series A, данные которых содержатся в объетке Series B
s1 = pd.Series([5, 3, 2, 1, 4, 11, 13, 8, 7])
s2 = pd.Series([1, 5, 13, 2])
 
# вариант 1 (медленный)
ans1 = np.asarray([np.where(i == s1)[0].tolist()[0] for i in s2])
print(ans1)
 
# вариант 2 (медленный)
ans2 = np.asarray([pd.Index(s1).get_loc(i) for i in s2])
print(ans2)
 
# вариант 3 (быстрый)
ans3 = np.argwhere(s1.isin(s2)).flatten()
print(ans3)

In [ ]:
#Получить объект Series B, котоырй содержит элементы без повторений объекта A
s = pd.Series(np.random.randint(low=1, high=10, size=[10]))
ans = pd.Series(s.unique())
print(ans)

In [ ]:
#Преобразовать каждый символ объекта Series в верхний регистр

s = pd.Series(['life', 'is', 'interesting'])
 
# преобразование данных Series в строку
s = pd.Series(str(i) for i in s)
 
# вариант 1
ans1 = s.map(lambda x: x.title())
print(ans1)
 
# вариант 1
ans2 = pd.Series(i.title() for i in s)
print(ans2)

0           Life
1             Is
2    Interesting
dtype: object
0           Life
1             Is
2    Interesting
dtype: object

In [ ]:
#Рассчитать количество символов в объекте Series
s = pd.Series(['one', 'two', 'three', 'four', 'five'])
# преобразование в строковый тип
s = pd.Series(str(i) for i in s)
 
# вариант 1
ans1 = np.asarray(s.map(lambda x: len(x)))
print(ans1)
 
# вариант 2
ans2 = np.asarray([len(i) for i in s])
print(ans2)

In [ ]:
#Найти разность между объектом Series и смещением объекта Series на n
n = 1
 
s = pd.Series([1, 5, 7, 8, 12, 15, 17])
 
ans = s.diff(periods=n)
 
print(ans)

In [ ]:
#Преобразовать разыне форматы строк объекта Series в дату
s = pd.Series(['2017/01/01', '2015-02-02', '15 Jan 2019'])
 
# возможно нестабильное решение, необходимо корректно указать строковые значения,
# т.к. могут быть перепутаны месяц и день
ans = pd.to_datetime(s)
 
print(ans)

In [ ]:
#Поскольку работа с датой часто встречается в работе, то см. еще один пример
# все данные должны иметь одинаковый формат (часто бывает выгрузка из SQL)
s = pd.Series(['14.02.2019', '22.01.2019', '01.03.2019'])
 
# преобразование в дату
ans = pd.to_datetime(s, format='%d.%m.%Y')
 
print(ans)

In [ ]:
#Получить год, месяц, день, день недели, номер дня в году от объекта Series (string)
from dateutil.parser import parse
 
s = pd.Series(['01 Jan 2018', '02-02-2011', '20120303', '2013/04/04', '2018-12-31'])
 
# парсим в дату и время
s_ts = s.map(lambda x: parse(x, yearfirst=True))
 
# получаем года
print(s_ts.dt.year)
 
# получаем месяца
print(s_ts.dt.month)
 
# получаем дни
print(s_ts.dt.day)
 
# получаем номер недели
print(s_ts.dt.weekofyear)
 
# получаем номер дня в году
print(s_ts.dt.dayofyear)

In [ ]:
#Отобрать элементы объекта Series, кторые содержат не менее двух гласных
from collections import Counter
 
s = pd.Series(['Яблоко', 'Orange', 'Plan', 'Python', 'Апельсин', 'Стол', 'Reliance'])
mask = s.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiouаоиеёэыуюя')]) >= 2)
ans = s[mask]
print(ans)

In [ ]:
#Отобрать e-маилы из объекта Series (можно юзать регулярки)
import re
 
emails = pd.Series(['test text @test.com', 'test@mail.ru', 'test.2ru', 'test@pp'])
pattern = '[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
mask = emails.map(lambda x: bool(re.match(pattern, x)))
ans = emails[mask]
print(ans)

In [ ]:
#Получить среднее значение каждого уникального объекта Series s1 через "маску" другого объекта Series s2

n = 10
s1 = pd.Series(np.random.choice(['dog', 'cat', 'horse', 'bird'], n))
s2 = pd.Series(np.linspace(1,n,n))
ans = s2.groupby(s1).mean()
print(ans)